.globalBox {
  width: 100%;
  height: 100vh;

  .cutInThree {
    display: flex;
    width: 32%;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .left {
    border-left: 1px solid black;
  }
  .middleBox {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .right {
    border-right: 1px solid black;
  }
}
