@use "../assets/styles/mixins" as mixin;

.globalBox {
  // padding-top: 60px;
  width: 100%;
  min-height: 500px;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 10px;
  // overflow: hidden;
  

  .cutInThree {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;


    
    .part {
      width: 100%;
      height: 100%;

      .pictureChoice {
        position: relative;
        width: 100%;
        height: 400px;
        // margin-top: 40px;
        border-radius: 25px;
        // margin: auto;
        align-items: center;
        object-fit: cover;
        overflow: hidden;

        @include mixin.xs {
          height: 250px;
        }
      }
      .titleBox {
        background-color: white;

        padding: 5px 15px;
        border-radius: 25px;
        font-size: 48px;
        text-align: center;
        color: var(--gray-1);

        @include mixin.xs {
          font-size: 28px;
        }
      }
      .one {
        position: absolute;
        top: 127px;
        left: 10%;
        @include mixin.xs {
          top: 127px;
          left: 3%;
        }
      }

      .two {
        position: absolute;
        top: 706px;
        right: 10%;
        @include mixin.xs {
          top: 480px;
          right: 3%;
        }
      }

      .tree {
        position: absolute;
        top: 1027px;
        left: 10%;
        @include mixin.xs {
          top: 726px;
          left: 3%;
        }
      }
    }
  }
}
