.globalBox {
  // padding-top: 422px;
  width: 100%;
  min-height: 500px;

  margin-top: 48px;
  // overflow: hidden;

  .cutInThree {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;

    .part {
      width: 100%;
      height: 100%;

      .pictureChoice {
        position: relative;
        width: 100%;
        height: 300px;

        margin: auto;
        align-items: center;
        object-fit: cover;
        overflow: hidden;
      }
      .titleBox {
        background-color: white;
        padding: 5px 15px;
        border-radius: 25px;
        font-size: 50px;
        text-align: center;
        color: var(--gray-1);
      }
      .one {
        position: absolute;
        top: 172px;
        left: 50px;
      }

      .two {
        position: absolute;
        top: 441px;
        left: 50px;
      }

      .tree {
        position: absolute;
        top: 773px;
        left: 50px;
      }
    }
  }
}
