.globalBox {
  // padding-top: 60px;
  width: 100%;
  min-height: 500px;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 10px;
  // overflow: hidden;

  .cutInThree {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;

    .part {
      width: 100%;
      height: 100%;

      .pictureChoice {
        position: relative;
        width: 100%;
        height: 250px;
        // margin-top: 40px;
        border-radius: 25px;
        // margin: auto;
        align-items: center;
        object-fit: cover;
        overflow: hidden;
      }
      .titleBox {
        background-color: white;

        padding: 5px 15px;
        border-radius: 25px;
        font-size: 48px;
        text-align: center;
        color: var(--gray-1);
      }
      .one {
        position: absolute;
        top: 194px;
        left: 20%;
      }

      .two {
        position: absolute;
        top: 480px;
        right: 20%;
      }

      .tree {
        position: absolute;
        top: 801px;
        left: 20%;
      }
    }
  }
}
