h2 {
  margin: 30px;
}

.listTotal {
  width: 90%;
  border: 1px solid var(--gray-1);
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;

  .article {
    min-width: 50%;

    .box {
      margin-top: 5px;
      width: 50%;
      justify-content: space-between;
    }
  }

  .quantitySelect {
    min-width: 20px;
    max-width: 40px;
  }

  .firstCalcul {
    width: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--gray-2);
    margin-bottom: 30px;

    .priceUnit {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
