@use "../assets/styles/mixins" as mixin;

h2 {
  margin: 30px;
}

.listTotal {
  width: 90%;
  border: 1px solid var(--gray-1);
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;

  .validPrice {
    .ens {
      display: block;
      width: 100%;
      text-align: end;
    }

    .btnValid {
      margin-left: 50px;
      border-radius: 50px;
    }
  }

  .btnOk {
    background-color: blue;
  }

  .choice {
    .article {
      // min-width: 50%;

      .band {
        justify-content: space-between;
        background-color: var(--gray-2);

        .btnDelete {
          border-radius: 50px;
          // margin-left: 20px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          font-family: "sans-serif";
          font-size: 8px;
        }
      }
      .articleName {
        text-align: center;
        font-size: 20px;
        display: block;
      }

      .box {
        justify-content: space-between;
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 5px;
        width: 100%;
        @include mixin.xs {
          padding: 0;
        }

        .firstCalcul {
          width: 100px;
          flex-direction: row;
          flex-wrap: nowrap;
          margin-bottom: 30px;

          .priceUnit {
            margin-left: 5px;
          }
        }
        .result {
          display: flex;
          // flex-direction: column;
        }
        .total {
          display: block;
        }
      }
    }

    .quantitySelect {
      width: 40px;
    }
  }
}
