h2 {
  margin: 30px;
}

.listTotal {
  width: 90%;
  border: 1px solid var(--gray-1);
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;

  .validPrice {
    .ens {
      display: block;
      width: 100%;
      text-align: end;
    }

    .btnValid {
      margin-left: 50px;
      border-radius: 50px;
    }
  }

  .btnOk {
    background-color: blue;
  }

  .choice {
    .article {
      min-width: 50%;

      .box {
        margin-top: 5px;
        width: 0%;
        justify-content: space-between;

        .result {
          display: flex;
          // flex-direction: column;
          

          .total {
            margin: 0 0 0 10px ;
            width: 80px;
          }
          .btnDelete {
            border-radius: 50px;
            // margin-left: 20px;
            width: 20px;
            height: 20px;
            text-align: center;
            padding: 0;
            cursor: pointer;
          }
        }
      }
    }

    .quantitySelect {
      width: 40px;
    }

    .firstCalcul {
      width: 100px;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 30px;

      .priceUnit {
        margin-left: 5px;
      }
    }
  }
}
