@use "../assets/styles/mixins" as mixin;

main {
  background-image: url("/assets/images/wishContent.jpg");
  background-size: cover; /* Vous pouvez ajuster "contain" à "cover" ou "50%" selon vos besoins */
  background-position: center; /* Vous pouvez ajuster la position si nécessaire */
}

h2 {
  margin: 30px;
}

.listTotal {
  height: 10%;
  bottom: 0;
  width: 90%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  opacity: 0.8;

  .validPrice {
    .ens {
      display: block;
      width: 100%;
      text-align: end;
    }

    .btnValid {
      margin-left: 50px;
      border-radius: 50px;
    }
  }

  .btnOk {
    background-color: blue;
  }

  .choice {
    .article {
      // min-width: 50%;

      .band {
        justify-content: space-between;
        background-color: var(--gray-2);
        border-radius: 50px;

        .btnDelete {
          border-radius: 50px;
          // margin-left: 20px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          font-family: "sans-serif";
          font-size: 20px;
          padding-bottom: 5px;
        }
      }
      .articleName {
        text-align: center;
        font-size: 20px;
        display: block;
        padding-bottom: 5px;
        padding-left: 5px;
      }

      .box {
        justify-content: space-between;
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 5px;
        width: 100%;
        @include mixin.xs {
          padding-left: 10%;
          padding-right: 10%;
        }

        .firstCalcul {
          width: 100px;
          flex-direction: row;
          flex-wrap: nowrap;
          margin-bottom: 30px;

          .priceUnit {
            margin-left: 5px;
          }
        }
        .result {
          display: flex;
          // flex-direction: column;
        }
        .total {
          display: block;
        }
      }
    }

    .quantitySelect {
      width: 40px;
    }
  }
}
