@use "../../../assets/styles/mixins" as mixin;

.recipe {
  border-radius: 20px;
  // height: 400px;
  cursor: pointer;
  background-color: var(--gray-2);

  @include mixin.xs {
    // height: 300px;
  }

  .recipeTitle {
    font-size: 20px;
  }

  i {
    font-size: 25px;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
    .recipeTitle {
      color: var(--primary);
    }
  }

  .under {
    text-align: center;
    gap: 3px;
    // height: 50px;
    // margin-bottom: 10px;


    .quantitySelect{
      border: var(--gray-1) 2px solid;
      background-color: var(--primary);
      font-family: "Agbalumo", sans-serif;
      font-size: 22px;
      border-radius: 15px;
      width: 55px;
      height: 31px;
      text-align: center;
      padding-bottom: 7px;
      
      
      
    }
    .price {
      text-align: center;
      padding-bottom: 5px;
      font-size: 22px;
      background-color: white;

      width: 45px;
      border: 3px solid var(--primary);
      border-radius: 50px;
      margin: 0;
    }
  }
}

.imageContainer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  .imgRecipe {
    width: 100%;
    height: 420px;
    object-fit: cover;
    transition: 1s transform;

    @include mixin.xs {
      height: 320px;
    }
  }
}

.recipeTitle {
  // height: 100px;
  transition: 0.2s color;
  border: 1px solid var(--gray-2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.addGeneral {
  margin-top: 5px;
  margin-bottom: 5px;
  .add {
    border-radius: 15px;

    &.disabled {
      // Styles pour le bouton désactivé
      // Par exemple, vous pouvez ajouter une opacité ou d'autres styles de votre choix
      opacity: 0.5;
      // cursor: not-allowed;
    }
  }
}
