.MenuContainer {
  position: absolute;
  top: 68px;
  right: 10px;
  width: 200px;
  border: 1px solid var(--gray-2);

  li {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--gray-2);
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
    margin-bottom: 5px;

    .wishList {
      text-decoration: none;
      color: var(--primary);
    }

    &:hover {
      background-color: var(--primary);
      color: white;
    }
  }
}
