.MenuContainer {
  position: absolute;
  top: 68px;
  right: 10px;
  // width: 200px;
  border: 1px solid var(--gray-2);
  gap: 5px;
  

  button {
    width: 120px;
    font-family: "Agbalumo", sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
    color: var(--primary);
    border: 2px solid white;
    border-radius: 20px;
    background-color: var(--gray-2);
    transition: background-color 0.2s, color 0.2s;
    text-align: center;


    .wishList {
      width: 100%;
      text-decoration: none;
      color: var(--primary);
      &:hover {
        background-color: var(--primary);
        color: white;
      }
      
    }

    &:hover {
      background-color: var(--primary);
      color: white;
    }
  }
}
