@use "../../assets/styles/mixins" as mixin;

.header {
  position: fixed;
  margin: auto;

  background-color: white;
  padding: 10px 20px;
  box-shadow: var(--box-shadow-nav);
  color: var(--primary);
  z-index: 2;
  width: 100%;
  height: 80px;

  backdrop-filter: blur(8px); /* Ajoute un flou de 8 pixels à l'arrière-plan */
  background-color: rgba(3, 0, 0, 0.8);

.basket{
  color: var(--primary);
}

  img {
    width: 80px;
    border-radius: 50px;
  }

  
}

.cardList {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 45px;
  border-radius: 50%;
  cursor: pointer;
  // .elementFood {

  // }
  .pizza {
    font-size: 35px;
    position: absolute;
    top: -16px;
    left: 6px;
    rotate: 315deg;
  }
  .drinker {
    font-size: 25px;
    position: absolute;
    top: 23px;
    left: 34px;
    rotate: 120deg;
  }
  .cake {
    font-size: 30px;
    position: absolute;
    top: 19px;
    left: -12px;
  }
}
.headerList {
  
  
  @include mixin.xs {
    display: none;
  }

  .wishList {
    text-decoration: none;
    color: var(--text-color);
  }
  .connect{
    color: white;
  }
}

.headerXs {
  display: none;
  cursor: pointer;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.8;
  }
  @include mixin.xs {
    display: block;
  }
}

.cardList {
  animation: rotateForever 30s linear infinite;
  &:hover {
    
    color: var(--primary);
    background-color: white;

  }
}

@keyframes rotateForever {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
