body {
  display: flex;
  margin: auto;
  font-family: "Agbalumo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--gray-2);
}

#root {
  // width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

img {
  max-width: 100%;
}

input {
  font-family: var(--font-family);
}

::placeholder {
  font-family: var(--font-family);
}
