:root {
  --primary: #ff6348;
  --gray-1: #20232a;
  --gray-2: #efefef;
  --font-family: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: 5px 10px 0.5em 0.5em red;
  --text-color: #444;
}
